@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
:root {
  --cor-azul-fraca: #1351d8;
  --cor-azul-forte: #1b357e;
  --cor-branca: white;
}

@keyframes posicaoLink {
  from {
    padding-top: 5px;
  }
  to {
    padding-top: 0;
  }
}

.headerLink {
  border-top: 2px solid var(--cor-azul-fraca);
  animation: posicaoLink 0.3s;
  text-shadow: 1px 1px 1px var(--cor-azul-fraca);
}

body {
  background: var(--cor-branca);
  height: 100dvh;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

@keyframes transition {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

div#carousel {
  width: 80%;
  max-width: 1000px;
  border: 2px solid var(--cor-azul-forte);
  outline-style: outset;
  outline-color: var(--cor-azul-forte);
  border-radius: 10px;
  border-style: inset;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  img {
    width: 100%;
    z-index: -1;
    animation: transition 1s linear;
  }
}

#carousel__nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.carousel__nav__botao {
  width: 1.5vw;
  height: 1.5vw;
  max-height: 20px;
  max-width: 20px;
  min-width: 15px;
  min-height: 15px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  z-index: 1s;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 1)
  );
  background-size: 100px 1px;
}
.carousel__nav__botao__selecionado {
  background-position: 30px 0px;
  transition: background 0.5s;
}

#carousel button {
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 0.3rem;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}

#carousel__anterior {
  left: 10px;
}

#carousel__proximo {
  right: 10px;
}

#carousel button:hover {
  background: rgba(0, 0, 0, 0.8);
}
div#carousel-title a {
  text-decoration: none;
  color: #1351d8;
  margin: 0 auto;
  max-width: fit-content;
}

div#carousel-title {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  width: 70%;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

header ul {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

ul {
  display: inline-block;
}

header {
  background: #ffffff;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 2rem;
}
.header__logo {
  width: 8%;
  min-width: 70px;
}
#header__centralizar {
  width: 8%;
  min-width: 70px;
}

header nav {
  display: inline-block;
  vertical-align: middle;
  width: 80vw;
}

header nav a {
  color: #1351d8;
  font-size: 20px;
  text-decoration: none;
  font-weight: 900;
  margin-left: 1%;
  margin-right: 1%;
}

header nav a:hover {
  color: #1b357e;
  text-decoration: none;
  font-weight: 900;
}

nav li {
  display: inline;
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: center;
}

nav#social {
  display: inline;
  width: 80%;
}

nav#social ul img {
  width: 28px;
}

span.redesociais {
  color: #ffffff;
  vertical-align: super;
}

footer {
  background: #1b357e;
  padding: 20px;
}

footer div {
  display: inline;
  float: right;
}
